/* Style sheet for CSS of first mock site*/

/*Header style*/
.html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Raleway', sans-serif;
    background-color: #eaeff7;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    margin-left: 15%;
    font-size: 18px;
    text-decoration: none;
    flex: 1 0 auto;
}

#logo a {
    outline: none;
    text-decoration: none;
}

#logo a:visited {
    color: black;
}

.button {
    flex: 0 0 auto;
    margin-right: 15%;
    background-color: #4e91fc;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.2s;
    height: 30px;
    width: 60px;
}

.button:hover {
    background-color: #4078d1;
}

/*Hero style*/


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    min-height: 650px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("http://www.photos-public-domain.com/wp-content/uploads/2011/03/blue-brick-wall-texture.jpg");
    background-size: 100%;
}

.hero h1 {
    text-align: center;
    color: white;
    font-size: 48px;
    width: 100%;
}

.email-form {
    min-width: 300px;
    min-height: 50px;
    font-size: 20px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}

.email-button {
    min-width: 100px;
    height: 50px;
    font-size: 20px;
    margin-right: 0px;
}

/*mini-logos*/

@media (min-width: 900px) {
    .mini-logos {
        display: flex;
        justify-content: center;;
        align-items: flex-start;
        max-width: 1200px;
        margin: auto;
    }
}

.box {
    text-align: center;
    flex-basis: 30%;
    margin: auto;
    padding-top: 20px;
}

.callout:hover {
    transition: transform .5;
    transform: scale(1.3);
}

.callout img {
    width: 50px;
}
